@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'PT Serif', serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    transform: translate(-250px, -120px);
}

section::after {
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #31ff38);
    border-radius: 50%;
    transform: translate(250px, 150px);
}

section .container {
    position: relative;
    width: 100%;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}

.divHours {
    text-align: center;
    color: #ffffff;
    padding-right: 25px;
    padding-left: 50px;
}

.divHours span {
    font-size: 50px;
    padding: 10px;
}

.divHours label {
    font-size: 50px;
    padding: 5px;
}

.divHours h2 {
    font-family: serif;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 30px;
}

.calendar {
    padding: 25px 50px 25px 25px;
    position: relative;
    overflow: hidden;
}

.containerCalendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    padding: 10px;
}

.conntainerCalendar {
    padding: 10px;
}

.dayWeeksCalendar {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.dayWeeksCalendar div {
    display: grid;
    place-items: center;
    color: #ffffff80;
}

.calendarDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: #ffffff;
}

.calendarDays div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendarDays div span {
    position: absolute;
}

.calendarDays div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendarDays div span:nth-child(1),
.calendarDays div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: #ffffff;
}

.calendarDays div:hover span:nth-child(1),
.calendarDays div:hover span:nth-child(3) {
    height: 100%;
}

.calendarDays div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendarDays div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendarDays div span:nth-child(2),
.calendarDays div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: #ffffff;
}

.calendarDays div:hover span:nth-child(2),
.calendarDays div:hover span:nth-child(4) {
    width: 100%;
}

.calendarDays div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendarDays div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendarDays div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendarDays div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendarDays div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendarDays div.curr-date,
.calendarDays div.curr-date:hover {
    background-color: #ffffff80;
    color: #000000;
}

.calendarDays div.curr-date span {
    display: none;
}

.selectedMonth {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.selectedMonth:hover {
    background-color: #ffffff80;
}

.selectedYear {
    display: flex;
    align-items: center;
}

.changeYear {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.changeYear:hover {
    background-color: #ffffff80;
}

.monthList {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.monthList.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
    background: #ffffff;
}

.monthList>div {
    display: grid;
    place-items: center;
}

.monthList>div>div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.monthList>div>div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px 0px 100px;
    background: #161623;
    display: flex;
}

footer .container .about {
    width: 100%;
}

.containerBTN {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .container .containerBTN .btn {
    background: #5c74fc;
    color: #ffffff;
    padding: 10px 29px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}

footer .container .containerBTN .btn:hover {
    color: #000000;
    letter-spacing: 4px;
}

footer .container h2 {
    position: relative;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .container h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #5c74fc;
}

footer p {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5px;
}

.copyrightText {
    width: 100%;
    background: #161623;
    padding: 25px 100px;
    text-align: center;
    color: #ffffff;
}

@media (max-width: 991px) {
    footer {
        padding: 25px;
        display: block;
    }

    footer .container .about {
        width: 100%;
    }

    footer .container .containerBTN .btn {
        display: block;
        text-align: center;
    }

    footer .container .containerBTN .btn:hover {
        color: #000000;
        letter-spacing: 2px;
    }

    .copyrightText {
        padding: 0px 25px 25px 25px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    section .container {
        display: grid;
    }

    .divHours {
        padding: 50px 0px 25px 0px;
    }

    .calendar {
        padding: 25px 50px 25px 50px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    section .container {
        display: grid;
    }

    .divHours {
        padding: 30px 0px 10px 0px;
    }

    .divHours h2 {
        font-family: serif;
        font-size: 16px;
        padding: 5px;
        margin-bottom: 20px;
    }

    .calendar {
        padding: 10px 15px 25px 15px;
    }

    .conntainerCalendar {
        padding: 5px;
    }

    .calendarDays div {
        width: 40px;
        height: 40px;
    }

    .containerCalendar {
        font-size: 20px;
        padding: 5px;
    }

    .changeYear {
        margin: 0 5px;
    }

    .dayWeeksCalendar {
        font-weight: normal;
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
    section .container {
        display: flex;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .divHours {
        padding: 0px;
    }

    .divHours span {
        font-size: 40px;
        padding: 10px;
    }

    .divHours h2 {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .calendar {
        padding: 25px;
    }

    .copyrightText {
        padding: 0 25px 25px 25px;
    }
}