/* Base */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    transform: translate(-250px,-120px);
}

section::after{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #31ff38);
    border-radius: 50%;
    transform: translate(250px, 150px);
}

.box{
    position: relative;
    z-index: 1000;
}

.container{
    position: relative;
    width: 100%;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Hora e dia*/

.divHoras{
    text-align: center;
    color: #ffffff;
    padding-right: 25px;
    padding-left: 50px;
}

.divHoras span{
    font-size: 50px;
    padding: 10px;
}

.divHoras label{
    font-size: 50px;
    padding: 5px;
}

.divHoras h2{
    font-family: serif;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 30px;
}

/*Calendario*/

.calendario {
    padding: 25px 50px 25px 25px;
    position: relative;
    overflow: hidden;
}

.calendarioHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    padding: 10px;
}

.calendarioBody {
    padding: 10px;
}

.diaSemanasCalendario {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.diaSemanasCalendario div {
    display: grid;
    place-items: center;
    color: #ffffff80;
}

.diasCalendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: #ffffff;
}

.diasCalendario div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}

.diasCalendario div span {
    position: absolute;
}

.diasCalendario div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.diasCalendario div span:nth-child(1),
.diasCalendario div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: #ffffff;
}

.diasCalendario div:hover span:nth-child(1),
.diasCalendario div:hover span:nth-child(3) {
    height: 100%;
}

.diasCalendario div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.diasCalendario div span:nth-child(3) {
    top: 0;
    right: 0;
}

.diasCalendario div span:nth-child(2),
.diasCalendario div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: #ffffff;
}

.diasCalendario div:hover span:nth-child(2),
.diasCalendario div:hover span:nth-child(4) {
    width: 100%;
}

.diasCalendario div span:nth-child(2) {
    top: 0;
    left: 0;
}

.diasCalendario div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.diasCalendario div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.diasCalendario div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.diasCalendario div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.diasCalendario div.curr-date,
.diasCalendario div.curr-date:hover {
    background-color: #ffffff80;
    color: #000000;
}

.diasCalendario div.curr-date span {
    display: none;
}

.mesSelecionado {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.mesSelecionado:hover {
    background-color: #ffffff80;
}

.anoSelecionado {
    display: flex;
    align-items: center;
}

.mudarAno {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.mudarAno:hover {
    background-color: #ffffff80;
}

.listaMes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.listaMes.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
    background: #ffffff;
}

.listaMes > div {
    display: grid;
    place-items: center;
}

.listaMes > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.listaMes > div > div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*fooder*/

footer{
    font-family: serif;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #161623;;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footeRcontainer .sec.sobre{
    width: 100%;
}

.campobtn{
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .footeRcontainer .campobtn .btn{
    font-family: serif;
    background: #5c74fc;
    color: #ffffff;
    padding: 10px 29px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}

footer .footeRcontainer .campobtn .btn:hover{
    color: #000000;
}

footer .footeRcontainer h2{
    position: relative;
    color: #ffffff;
    font-family: serif;
    margin-bottom: 15px;
}

footer .footeRcontainer h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #5c74fc;
}

footer p{
    color: #ffffff;
    font-family: serif;
}

.copyrightText{
    width: 100%;
    font-family: serif;
    background: #161623;
    padding: 25px 100px;
    text-align: center;
    color: #ffffff;
}

/*footer responsive*/
@media (max-width: 991px) {
    footer{
        padding: 25px;
    }
    footer .footeRcontainer{
        flex-direction: column;
    }

    footer .footeRcontainer .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .footeRcontainer .sec.sobre{
       width: 100%;
    }

    .copyrightText{
        padding: 0px 25px 25px 25px;
    }
}


/*tablit*/
@media only screen and (min-width: 767px) and (max-width: 991px) { 
	.container {
        display: grid; 
    }

    .divHoras {
        padding: 50px 0px 25px 0px;
    }

    .calendario {
        padding: 25px 50px 25px 50px;
    }
}

/*celular*/
@media only screen and (min-width: 0px) and (max-width: 767px){
    .container {
        display: grid; 
    }

    .divHoras {
        padding: 30px 0px 10px 0px;
    }

    .divHoras h2 {
        font-family: serif;
        font-size: 16px;
        padding: 5px;
        margin-bottom: 20px;
    }

    .calendario {
        padding: 10px 15px 25px 15px;
    }

    .calendarioBody {
        padding: 5px;
    }

    .diasCalendario div {
        width: 40px;
        height: 40px;
    }

    .calendarioHeader {
        font-size: 20px;
        padding: 5px;
    }

    .mudarAno {
        margin: 0 5px;
    }

    .diaSemanasCalendario {
        font-weight: normal; 
    }
}

/*celular Virado*/
@media only screen and (min-device-width: 480px) and (max-device-width: 767px){
    .container {
        display: flex; 
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .divHoras {
        padding: 0px;
    }

    .divHoras span {
        font-size: 40px;
        padding: 10px;
    }

    .divHoras h2 {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .calendario {
        padding: 25px ;
    }

    .copyrightText {
        padding: 25px 40px;
    }
}